#fixed-collapse-navbar a{
    background-color: #e25111;
  }
  #fixed-collapse-navbar a{
    margin: 0.5vw;
  }
  #fixed-collapse-navbar a:hover{
    background-color: white;
  }
  #service-slider img{
    height: 18vw;
    width:22vw;
  }
  .wrap-container img{
    height: 18vw;
    width:24vw;
  }
  .active_link{
    color : #e25111;
    background-color: white;
  }